html    
    head
        include header-links
    body
        div(class="wrap")
            div(class="under-header")
            include header-nav
            div(class='favorite__block')
                div(class='inner_heart-container')
                    div(class='favorite__header') Избранное
                    div(id='inner__heart-content')
                    
            include footer
