html    
    head
        include header-links
    body
        div(class="wrap")
            div(class="order__header")
                div(class="order__header-container")
                    div(class="order__header-logo")
                        img(src="./images/logo-footer.png")
                        span(class="order__header-text") &mdash; оформление заказа
                    div(class="order__header-exit")
                        img(src="images/exit.svg" onclick="history.back()")
            div(class="order__container")   
                div(class="order__content")
                    div(class="order__list")
                        div(class="order__title") Ваш список товаров
                        div(class="innerContent")
                        div(class="order__title") Контактные данные получателя
                        form(class="order__forms" action="#")
                            div(class="order__forms-item")
                                div(class="order__forms-input")
                                    input(type="text" id="firstName" name="firstName" onchange="checkInput(this)" required)
                                    label Имя  
                                    span Поле заполнено не верно.
                                div(class="order__forms-input")
                                    input(type="text" id="lastName" name="lastName" onchange="checkInput(this)" required)
                                    label Фамилия
                                    span Поле заполнено не верно.
                            div(class="order__forms-item")
                                div(class="order__forms-input")
                                    input(type="text" id="city" name="city" onchange="checkInput(this)" required)
                                    label Город
                                    span Поле заполнено не верно.
                            div(class="order__forms-item")
                                div(class="order__forms-input")
                                    input(type="email" id="mail" name="mail" onchange="checkInput(this)" required)
                                    label Email
                                    span Поле заполнено не верно. Пример (example@gmail.com)
                            div(class="order__forms-item")
                                div(class="order__forms-input")
                                    input(type="text" id="phone" name="phone" onchange="checkInput(this)" required)
                                    label Телефон
                                    span Поле заполнено не верно.
                        div(class="order__title") Доставка и оплата
                        div(class="order__post")
                            div(class="order__post-img-section")
                                div(class="order__post-image")
                                    input(type="radio" id="radio_1" name="radio-group" value="Нова Пошта")
                                    label(for="radio_1")
                                        img(src="./images/newPost.png")
                                        p Выбрано
                                div(class="order__post-image")         
                                    input(type="radio" id="radio_2" name="radio-group" value="Деливери")
                                    label(for="radio_2")
                                        img(src="./images/deliver.png")
                                        p Выбрано
                            div(class="order__forms-input order__post-input")
                                input(type="text" id="post" name="post" onchange="checkInput(this)")
                                label Адресс и номер отделения
                            div(class="order__pay-block")
                                div(class="order__pay-item")
                                    input(type="radio" id="radio_3" name="radio-group2" value="Оплата сейчас на карту")
                                    label(for="radio_3" class="order__pay-label")
                                        p Оплата сейчас на карту
                                div(class="order__pay-item")
                                    input(type="radio" id="radio_4" name="radio-group2" value="Оплата через почту при получении")
                                    label(for="radio_4" class="order__pay-label")
                                        p Оплата через почту при получении
                            div(class="order__finish-block")
                                div(class="order__finish-text") Я прочитал и согласен с правилами 
                                    span(onclick="showRule()") пользовательского соглашения
                                div(class="order__finish-button" onclick="finishOrder()") Подтвердить
                                div(class="order__warning") Есть незаполненные или не выбранные поля
            div(class="modal__rule")
                div(class="modal__rule-block")
            include footer                


