@font-face {
	font-family: 'New-Channel-Font';
	src: url('../fonts/New-Channel-Font.eot');
	src: local('☺'), url('../fonts/New-Channel-Font.woff') format('woff'), url('../fonts/New-Channel-Font.ttf') format('truetype'), url('../fonts/New-Channel-Font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



.cart {
  /* margin: 15px; */
  position: relative;
  transition: .2s ease-out ;
  /* padding: 5px; */
  /* max-width: 300px; */
  /* height: 450px; */
  /* border: 1px solid red; */
}

/* .cart:hover  {
  box-shadow: 0 2px 13px 3px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
} */

.delete-icon-favorite {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}

.delete-icon-favorite img {
  width: 32px;
  border-radius: 50%;
  background: #ffffff85;
}

.delete-icon-favorite:hover img {
  transform: rotate(360deg);
  transition: 0.5s all ease;

}

.cart:hover #delete-from-favorites {
  box-shadow: none;
}

.to-cart-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin: 15px 10px;
}

.to-cart-buttons {
  display: flex;
  justify-content: space-between;
  width: 78px;
}

.to-cart {
  width: 34px;
  height: 34px;
  background-color: #9a9a9a;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.to-cart:hover {
  background-color: #4e4e4e;
}
.to-cart img {
  width: 18px;
  height: 18px;
  padding: 8px;
}

.cart-content {
    overflow: hidden;
    width: 100%;
    margin-bottom: 13px;
}

.cart-img {
    max-width: 100%;
    transition: all 0.3s;
    will-change: transform; 
}

.cart-img:hover {
  transform: scale(1.15);
}

.cart-available {
  color: rgb(19, 131, 19);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0 10px;
  margin-bottom: 5px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.cart-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: rgb(88, 88, 88);
    margin: 0 10px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
}

.cart-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgb(88, 88, 88);
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add-cart-button-left {
    border-right: 1px solid white;
}

.add-cart-button-left, .add-cart-button-right {
    width: 50%;
    background-color: #737373;
    color: #ffffff;
    height: 50px;
    font-family: "Roboto";
    letter-spacing: 1.5px;
    font-size: 14px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
