.contact__container {
    /* border: 1px solid black; */
    max-width: 1000px;
    margin: 105px auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
}

.contact-block {
    padding: 50px;
    width: 50%;
}

.contact-block:first-child {
    border-right: 3px solid black;
}

.contact-block h1 {
    font-family: 'Century-Gothic', sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 19px;
}

.contact__info-block {
    font-family: "Roboto", sans-serif;
}


.contact__info-label {
    text-decoration: underline;
    color: #757575;;
    margin-right: 6px;
    font-family: 'Century-Gothic', sans-serif;
}

.contact__info-text {
    margin-bottom: 25px;
    color: rgb(37, 37, 37);
}

.contact__info-text {

}

.contact__info-text2 {
    margin-left: 90px;
    margin-top: 10px;
}

.contact__info-phone {
    margin: 15px 0;
}


@media (max-width: 700px) {
    .contact__container {
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }

    .contact-block {
        width: 100%;
        border-top: 3px solid black;
    }

    .contact-block:first-child {
        border: none;
    }
}

@media (max-width: 400px) {
    .contact-block {
        padding: 30px 15px;
    }
}