.subcategory__container {
    max-width: 1700px;
    margin: 30px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.subcategory__header-bottom {
  margin-top: 105px;
}

.subcategory__flex-block {
    display: flex;
    justify-content: space-between;
}


.subcategory__content-block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 24%));
    justify-content: space-around;
    grid-row-gap: 25px;
    grid-column-gap: 7px;
}

.subcategory__header-bottom {
  font-family: 'Roboto';
  font-size: 13px;
  color: rgb(97, 97, 97);
}

.subcategory__navigation-all {
  display: flex;
}

.subcategory__navigation-all li {
  margin-right: 12px;
}

.subcategory__navigation-all li a {
  color: #a5a5a5;
}

.subcategory__navigation-all li a:after {
  content: '→';
  font-family: auto;
  font-size: 20px;
  margin-left: 12px;
  vertical-align: -2px;
}

.subcategory__navigation-all li:last-child a:after {
  content: '';
  color: red;
  
}

.subcategory__navigation-all li:last-child a {
  vertical-align: -5px;
}

.subcategory__shower {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
/* 
@media (max-width: 1100px) {

  .subcategory__content-block {
    grid-template-columns: repeat(auto-fill, minmax(auto, 31%));
  }

  .cart-name {
    font-size: 15px;
  }

  .cart-price {
    margin: 10px 0;
  }

}


@media (max-width: 645px) {

  .subcategory__content-block {
    grid-template-columns: repeat(auto-fill, minmax(auto, 48%));
  }
}

@media (max-width: 500px) {

   .pbh {
    display: none;
  } 

   .to-cart-buttons {
    width: auto;
  } 

  .subcategory__content-block {
    grid-template-columns: repeat(auto-fill, minmax(auto, 48%));
  }

  .cart-name {
    font-size: 14px;
  }

  .subcategory__navigation-all li a:after {
    vertical-align: 1px;
  }

  .subcategory__navigation-all li:last-child a {
    vertical-align: -7px;
  }

}

@media  screen and (max-width: 400px) {

  .subcategory__container {
      padding: 0 10px;
  }

}

@media (max-width: 360px) {
  .cart-price {
    font-size: 17px;
  }

  .cart-available {
    font-size: 12px;
  }
}
 */
