.wrap {
    margin-top: 105px;
}

.change__container {
    max-width: 1500px;
    margin: auto;
}

.product-img {
    width: 230px;
}

.goods__info > div {
    margin-bottom: 10px;
    font-family : "Roboto", sans-serif;
    border-bottom: 1px solid #ccc;
    padding: 9px 15px;
    line-height: 28px;
}

/*  make change */

.make__change {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 50px 0;
    padding: 20px 15px;
}

.make__change-title {
    text-align: center;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.make__change-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input__item {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.input__item > input[type="text"], .input__item > textarea {
    height: 38px;
    border: 2px solid rgb(136, 119, 63);
    border-radius: 4px;
    padding: 0 6px;
    font-size: 17px;
}

.input__item > textarea {
    min-height: 130px;
}


.input__item-radio {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
}

.input__item-radio > input[type="submit"] {
    width: 100%;
}


.input__item label {
    padding-bottom: 8px;
}

.input__item-radio label {
    margin-right: 10px;
    padding: 0;
}

.input__item-radio input {
}
